<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CrossBrowserScript.setup(java.lang.String)[pri:0, instance:parallelTest.CrossBrowserScript@610694f1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:08</td>   <td>4112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrossBrowserScript.testParameterWithXML()[pri:0, instance:parallelTest.CrossBrowserScript@610694f1]">testParameterWithXML</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:08</td>   <td>4190</td> <td>&nbsp;</td><td title="&lt;&lt;CrossBrowserScript.AfterTest()[pri:0, instance:parallelTest.CrossBrowserScript@610694f1]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:08</td>   <td>4422</td> <td>&nbsp;</td><td title="&gt;&gt;CrossBrowserScript.setup(java.lang.String)[pri:0, instance:parallelTest.CrossBrowserScript@5e853265]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:15</td>   <td>10673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrossBrowserScript.testParameterWithXML()[pri:0, instance:parallelTest.CrossBrowserScript@5e853265]">testParameterWithXML</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/08/11 20:20:15</td>   <td>10701</td> <td>&nbsp;</td><td title="&lt;&lt;CrossBrowserScript.AfterTest()[pri:0, instance:parallelTest.CrossBrowserScript@5e853265]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
</table>
